/*css for blog posts */

/* css for sidebar*/
#sidebar{
	
}

/*css for the posts */
section#posts{
}

section#posts article{
	width: 60%;
	margin-left:15%;
}
section#posts article div.title{
	display:inline-block;
}

section#posts article h1{
	font-family:nobilityCasual;
	font-size: 1.5em;
	padding-bottom: 5px;
	
}
section#posts article h3{
	font-family:nobilityCasual;
	font-size: .8em;
	color: #333333; /*slightly lighter than black*/
	padding-bottom: 20px;
	white-space: nowrap;
	display:inline;
	text-transform: lowercase;
	font-style:bold;
}

section#posts article time{
	display:block;
	margin-left:2%;
	padding: 4px 0px;
	font-family: caviarDreams;
	font-weight:bold;
	font-size: .75em;
	letter-spacing:-1px;
}

section#posts article img{
	float:right;
}

section#posts article p{
	width: 85%;
	text-indent: 2%;
	font-family: caviarDreams;
	padding:10px 0px; 
	line-height:110%;
	letter-spacing:1px;
}
section#posts article em{
	font-weight:bold;
}

@media screen and (max-width: 1024px)
{
	
}
@media screen and (max-width: 768px)
{	

}
@media screen and (max-width:640px)
{
	
}
@media screen and (max-width: 480px)
{
	
}