/*css for education, skills, qualifications, etc */

article#main{
	margin-bottom: 150px;
}

article#main section{
	font-family:"roundedElegance";
	margin-top: 50px;
	
}

article#main section h2{
	font-family:"nobilityCasual";
	font-size: 1.3em;
	font-weight:bold;
	padding:10px;
	margin-left:1%
	
	
}

article#main section h4{
	font-family:"nobilityCasual";
	font-size: 1em;
	font-weight:bold;
	padding:10px;
	margin-left:3%;
}

article#main section ul{
	list-style-type:square;
	margin-left:5%;
}

article#main section ul li{
	list-style-position:inside;
	padding:5px;
	font-size: .9em;
		
}

@media screen and (max-width: 1024px)
{
	
}
@media screen and (max-width: 768px)
{	

}
@media screen and (max-width:640px)
{
	
}
@media screen and (max-width: 480px)
{
	
}