/*css for education, skills, qualifications, etc */

article#main{
	margin-bottom: 150px;
}

section{
	font-family:"roundedElegance";
	margin-top: 50px;
	
}

section h2{
	font-family:"nobilityCasual";
	font-size: 1.3em;
	font-weight:bold;
	padding:10px;
	margin-left:1%
	
	
}
.subcurr{color:red;}

section h4{
	font-family:"nobilityCasual";
	font-size: 1em;
	font-weight:bold;
	padding:10px;
	margin-left:3%;
}

section ul{
	list-style-type:square;
	margin-left:5%;
}

section ul li{
	list-style-position:inside;
	padding:5px;
	font-size: .9em;
		
}

#mathedu, #compedu, #gameedu, #coursework
{
	display:none;
}
@media screen and (max-width: 1024px)
{
	
}
@media screen and (max-width: 716px)
{	
	article#main
	{
		margin-left:3%;
	}
	article#main section h2{
		margin-left:9%;
	}
	article#main section ul, article#main section h4{
		margin-left:10%;
	}
}
@media screen and (max-width:640px)
{
	
}
@media screen and (max-width: 480px)
{
	
}