/* css for any page that contains a gallery */

/* css for sidebar*/
#sidebar{
	position: fixed;
	top:235px;
	width: 10%;
	left: 2%;
}
#sidebar li{
	padding: 10px 0px;
}
#sidebar a{
	font-family: averia;
	font-size: .8em;	
}
#gallery{
	margin-left:11%;
}
.gallerytitle{
	font-family:averia;
	font-size: 1.5em;
	margin-left:5px;
	margin-bottom:0px;
}
.description{
	width:60%;
	font-family:robotocondensed;
}
.imgbox{
	width: 60%;
	border-width: 5px;
	border-style: solid;
	margin:8px;
	display:inline-block;
	
}
.imgbox img{
	width: 100%;
	margin:0px;
}
#gallery section{
	display: inline-block;
}
.notes{
	color:white;
	background-color:black;
	font-size:1em;
	margin:0px;
	width: 100%;
}

.gallerylink{
	font-family: robotocondensed;	
	margin: 20px 0px;
	padding:10px 40px;
	background-color: #B20100;
	border-radius:10px;
	color:white;
	display:block;
	width: 150px;

}
@media screen and (max-width: 1024px)
{
	
}
@media screen and (max-width: 768px)
{	

}
@media screen and (max-width:640px)
{
	
}
@media screen and (max-width: 480px)
{
	
}