/*style sheet for index pages*/
div#graphic img{
	
	width:100%;
	margin-top:300px;
}
#notes
{
	margin-top:300px;
}

/*footer css*/
footer{
	top: 20%;
	width:90%;
	font-family:'caviarDreams';
	margin-left:15%;
	
	
}

a{text-decoration:none;}

footer p{
	width:50%;
	margin-left:2%;
}
footer h1, h2{
	font-family:'nobilityCasual';
	color: #1F1A21; 
	
}
footer a{
	
	padding: 5px;

}
