/*css for project display pages of any type */

.project{
	border-color: #1F1A21;
	border-style:solid;
	border-width: 2px; 
	border-radius:3px;
	margin-left:10px;
	width:80%;
	display:none;
}

.project h2{
	color: white;
	background-color:  #1F1A21;
}

.project p{
	
}
.github{
	margin:20px;
	padding:10px 40px;
	background-color: #B20100;
	border-radius:10px;
	color:white;
	display:inline-block;
}
#wyvern, #research, #apotheoun, #ui, #model, #ggj, #primality, #geomAlg, #androids
{
	display:none;
}

#projectSubnav li
{
	cursor:pointer;
}
#projectSubnav
{
	width:20%;
	float:left;
	background-color:blue;
}


