@font-face{
	font-family:robotoCondensed;
	src: url(Roboto-Condensed.ttf);
}
@font-face{
	font-family:cnr;
	src: url(CodeNewRomanb.otf);
}
@font-face{
	font-family:robotoBlack;
	src: url(Roboto-Black.ttf);
}
@font-face{
	font-family:wcm;
	src: url(WCManoNegraBoldBta.ttf);
}
@font-face{font-family:averia; src:url(AveriaSerif-Light.ttf);}
body
{
	padding-top:0px;
	width:760px;
	font-family:robotoCondensed;
	font-size:10pt;
}
hr{
	width:90%;
	margin:auto;
	border-color:#b20100;
	background-color:#b20100;
}
h1{ color:#1f1a21; font-size:14pt; font-family:averia; font-weight:normal;
margin-bottom: 0px; clear:both; padding-top:8px; padding-bottom:0px;
clear:both;
}
#education h1{padding-top:0px;}
h2{ 
color:#1f1a21; font-size:11pt;  font-weight:normal;
margin-left:10px;
padding:0px;
margin-top:0px;
margin-bottom:0px;
clear:both;
}
ul{
	list-style-type:none; 
	list-style-position:inside;
	padding-top:0px;
	margin-top:0px;
	padding-left: 20px;
	width:90%;
	
	}
p{padding-left:5%; padding-top:0px; margin:0px; width:75%;}
em{
	font-family:robotoBlack; font-style:normal; display:inline-block; padding-right: 10px;
}

#name{font-size:35pt; font-family:wcm;  display:inline-block; padding-left:35px; padding-top:0px;}
.sub{padding-top:5px; font-size:9pt;}
#contact{padding:0px;  margin:0px; display:inline-block;  color:#444444;}
#heading{margin-bottom:20px; display:inline-block; width:35%; float:left; padding-top: 10px; font-size:9pt; float:right;}
li{
	line-height:1.2em;
	float:left;
	display:inline;
	width:100%;
	
}
#skills li, #knowledge li {border-bottom: 1px solid #eeeeee;}
.two li{width:50%;}
.three li{width:33.333%;}

div{padding-left:30px;}
.listtitle{font-family:robotoBlack; padding-top:2px;}
#gpa li{padding-top:5px; padding-bottom:5px;}