/* main css stylesheet */

/*clear browser defaults*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*load fonts*/

@font-face {
    font-family: 'wcManoNegra';
    src: url('../media/fonts/wcmanonegraboldbta-webfont.eot');
    src: url('../media/fonts/wcmanonegraboldbta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../media/fonts/wcmanonegraboldbta-webfont.woff2') format('woff2'),
         url('../media/fonts/wcmanonegraboldbta-webfont.woff') format('woff'),
         url('../media/fonts/wcmanonegraboldbta-webfont.ttf') format('truetype'),
         url('../media/fonts/wcmanonegraboldbta-webfont.svg#wc_mano_negra_btabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotocondensed';
    src: url('../media/fonts/roboto-condensed-webfont.eot');
    src: url('../media/fonts/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../media/fonts/roboto-condensed-webfont.woff2') format('woff2'),
         url('../media/fonts/roboto-condensed-webfont.woff') format('woff'),
         url('../media/fonts/roboto-condensed-webfont.ttf') format('truetype'),
         url('../media/fonts/roboto-condensed-webfont.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'averia';
    src: url('../media/fonts/averiaserif-bold-webfont.eot');
    src: url('../media/fonts/averiaserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../media/fonts/averiaserif-bold-webfont.woff2') format('woff2'),
         url('../media/fonts/averiaserif-bold-webfont.woff') format('woff'),
         url('../media/fonts/averiaserif-bold-webfont.ttf') format('truetype'),
         url('../media/fonts/averiaserif-bold-webfont.svg#averia_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../media/fonts/roboto-light-webfont.eot');
    src: url('../media/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../media/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../media/fonts/roboto-light-webfont.woff') format('woff'),
         url('../media/fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../media/fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	margin-bottom: 150px; /* gives the page some breathing room */
}

/*header css*/
header{
	
	width:100%;
	position: fixed;
	background-color:white;
	padding: 15px;
	height:130px;
	
}
#logo a{
	
	font-family:wcManoNegra;
	font-size:2.5em;
	padding-right:.5em;
	color:#1F1A21;
}
#logo{
	/*background-image:url("../media/logo.svg");
	background-repeat:no-repeat;
	background-position:left;
	background-size: contain;*/
	display:inline-block;
	padding-left: 3.75em;
	padding-top:1em;
}

/*navigation css*/

nav{
	display:inline-block; 
	position:relative; 
	top:60px; 
	margin-left:10%;
	margin-right:10%;
	background-color: #B20100;
	}

nav ul{
	white-space: nowrap;
}

nav ul li{
	float:left;
	list-style-type: none;
	list-style-position:inside;
	font-size:1em;
	text-align: center;
	position:relative;
	display:inline-block;
	padding: 5px 20px; 
	
}

nav ul li a{ 
	
	text-decoration:none;
	font-family:robotocondensed;
	color: #FFF;
}
#current a{
	background-color:white;
	color: black;
}
nav a:link, nav a:visited
{
		
}
a#current , a#current:hover, a#current:link, a#current:visited{
	background-color:white;
	color: black;
}
nav li:hover
{
	background-color: #1F1A21;
}
ul.dropdown{
	
	display:none;
	list-style-type:none;
	z-index:999;
	list-style-position:inside;
	padding-left:0px;
	position:absolute;
	left:0px;
	background-color: #B20100;

}
ul.dropdown li{
	float:none;
	clear:both;
	font-size:.8em;
	
}
ul.dropdown li a{
	
}







/*footer*/
body{
	padding-bottom:3em;
}
footer{
	position: fixed;
	bottom:0px;
	left:0px;
	right:0px;
	padding:.2em;
	text-align:center;
	font-family:'robotocondensed';
	color: #444444;
	font-size:.7em;
	background-color:white;
	
}

/*general css*/
h1,h2,h3
{
	font-family:'averia';
	color: #1F1A21; 
	padding:5px;
}

p{
	width:90%;
	font-family:'robotolight';
	color:black;
	padding: 20px 0px;
	margin-left:10px;
}
article{
	width:70%;
	padding-top:200px; /*start off below the header*/
	margin-left:10%;
}

a{text-decoration:none; color:  #B20100; }

table{
	font-family: robotolight;
	font-size: 1em;
	display:block;
}
table td{
	padding: 10px;
}
table td.label{
	font-family: averia;
	vertical-align:top;
}

/*extra stuff*/


article#contact{
	width:50%;
}

article#contact h1{
	font-size: 1.7em;
	margin:5px;
}

article#contact p{
	width:60%;
}

article#contact a{
	float:left;
}

article#contact p a{
	float:none;
}

/*for the formmail*/
form{
	
	display:block;
	clear:left;
	
}
form table
{
	display:inline-block;
	background: url(../media/contact.svg) no-repeat;
	background-position: right top;
	padding: 30px 0px;
}
form table td{
	padding-bottom:1.5em;
}

form table input[type=text]{
	border-color:black;
	border-radius:5px;
	border-width:1px;
}
form table textarea{
	border-color:black;
	border-radius:5px;
}

form table input[type=submit]
{
	background-color: #B20100;
	border-width:0px;
	font-family: averia;
	color:white;
	padding: 10px;
	font-size:1.1em;
	float:right;
}
#formoutput
{
	width:60%;
	font-family:robotocondensed;
	color:black;
	padding: 20px 0px;
	margin-left:10px;
}
#formoutput pre
{
	white-space: pre-wrap;      
    word-wrap: break-word;       
}
#error
{
	background: url('../media/404.svg') no-repeat right bottom;
	padding-bottom:100px;
	width: 40%;
	height:300px;
}
#error p span{
	font-family:averia;
}
#error p a:hover{
	text-decoration:underline;
}
div#graphic img{
	
	width:100%;
	margin-top:200px;
}

/*responsive design*/
@media screen and (max-width: 1550px)
{
	nav ul li{
	font-size:.8em;
	width:120px;
	}
}
@media screen and (max-width:1066px)
{
	nav{
		margin-left:5%;
		width:90%;
		margin-right:5%;
	}
	article{
		margin-left:5%;
	}
	nav ul li{
		font-size:.7em;
		width:100px;
	}
	article#contact{
		width:65%;
	}
}
@media screen and (max-width:794px)
{
	nav ul li{
	font-size:.6em;
	width:90px;
	}
	article#contact{
		width:75%;
	}
}
@media screen and (max-width:716px)
{
	article{
		padding-top:300px;
	}
	header{
		position:static;
	}
	nav ul li:hover ul.dropdown{ 
	display:none;
	}
	nav ul li ul.dropdown li {display: none;  }
	nav ul li{
	font-size:1em;
	width:60%;
	margin-left:3%;
	margin-top:0px;
	text-align: center;
	height:40px;
	padding-top: 3px;
	padding-bottom: 3px;
	}
	
	
	article#contact{
		background:none;
	}
}
@media screen and (max-width:579px)
{
	form{display:none;}
	div#graphic img{
		display:none;
	}
}
@media screen and (max-width:335px)
{
	#logo{
		background:none;
	}
	
}



